:root {
  font-size: 16px;
  /* colors */
  --color-text: hsl(0deg, 0%, 100%);
  --color-background: hsl(210deg, 30%, 8%);
  --color-font-yellow: hsl(59deg, 100%, 62%);

  /* font-sizes */
  --font-size-72: 4.5rem;
  --font-size-60: 3.75rem;
  --font-size-48: 3rem;
  --font-size-36: 2.25rem;
  --font-size-30: 1.875rem;
  --font-size-24: 1.5rem;
  --font-size-20: 1.25rem;
  --font-size-18: 1.125rem;
  --font-size-base: 1rem;
  --font-size-14: 0.875rem;
  --font-size-12: 0.75rem;
}

body {
  background-color: var(--color-background);
  margin: 0;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
